@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

/* universal css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: white;
}

body {
  background-color: black;
}
/* universal css */

/* navigasi */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  margin: 15px 50px;
  background-color: rgb(22, 22, 22);
  border: 2px solid #612d53;
  border-radius: 2000px;
}

.logo h1 {
  color: #f3f4f4;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.menu {
  list-style: none;
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  background-color: #333;
  padding: 10px;
  width: 100%;
  display: none;
}

.menu li {
  list-style: none;
  margin: 15px 0;
}

.menu a {
  color: #f3f4f4;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

.humberger-icon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}
/* navigasi */

/* Hero Section */
.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100px;
}

.hero h2 {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 20px;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  text-align: center;
}
/* Hero Section */

@media screen and (min-width: 1000px) {
  /* navigasi */
  .menu {
    display: flex;
    position: static;
    background: none;
    width: auto;
  }

  .menu li{
    margin: 0;
  }

  .menu ul {
    display: flex;
  }

  .menu a {
    color: #f3f4f4;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 400;
  }

  .humberger-icon {
    display: none;
  }
  /* navigasi */

  /* Hero Section */
  .hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
  }

  .hero h2 {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 60px;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    text-align: center;
  }
}
